@page "/{TrackKey}/editroute"
@page "/{TrackKey}/editroute/{id}"
@attribute [Authorize]
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject ClubCheck ClubCheck
@inject NavigationManager NavigationManager

<div class="jumbotron">
    Hier kannst du die Daten zu einer neuen Tour anlegen bzw. ändern.
</div>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />
<h3>Tourdaten</h3>

@code {
    [Parameter]
    public string TrackKey { get; set; }
    [Parameter]
    public string Id { get; set; }
    private NotificationMessage _notificationMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Check if a club is given as part of url or selected before
            await ClubCheck.SetClub(TrackKey);
            if (String.IsNullOrEmpty(AppStateStore.TrackKey))
            {
                NavigationManager.NavigateTo("/");
                return;
            }

        }
        catch (Exception ex)
        {
            _notificationMessage.ShowError($"Fehler: {ex.Message}");
            return;
        }
    }


}
