@page "/profile"
@using BlazorApp.Client.Utils;
@using BlazorApp.Shared
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject NavigationManager NavigationManager

<h1>Dein Benutzer-Profil</h1>
<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />
<AuthorizeView>
    <Authorized>
        <div>Und los gehts</div>
    </Authorized>
    <NotAuthorized>
        <p>
            Bitte anmelden, um dein Benutzerprofil zu bearbeiten.
            <a href="/LoginProviders">Anmelden</a>
        </p>
    </NotAuthorized>
</AuthorizeView>

@code {
    private NotificationMessage _notificationMessage;
}
