@page "/{TrackKey}/{Scope}"
@using BlazorApp.Client.Utils
@using BlazorApp.Shared
@inject AppState AppStateStore
@inject BackendApiRepository Api
@inject ClubCheck ClubCheck
@inject NavigationManager NavigationManager


<BlazorApp.Client.Shared.NotificationMessage @ref="@_notificationMessage" />

@if (null == _routes)
{
    <p><em>Deine Zugriffsrechte werden geprüft und Daten werden geladen... Beim ersten Aufruf dauert das ein bisschen.</em></p>
}
else
{
    <p>
        <AuthorizeView>
            <NotAuthorized>
                <a class="btn btn-primary" href="/LoginProviders/@Scope">Anmelden</a>
            </NotAuthorized>
        </AuthorizeView>
    </p>
    <div class="row">
        @foreach (ExtendedRoute route in _routes)
        {
            <div class="col">
                <RouteCard RouteItem="@route"></RouteCard>
            </div>
        }
    </div>
}

@code {
    [Parameter]
    public string TrackKey { get; set; }
    [Parameter]
    public string Scope { get; set; }
    private NotificationMessage _notificationMessage;
    IEnumerable<ExtendedRoute> _routes = null;
    RouteFilter _filter = new RouteFilter();

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // Check if a club is given as part of url or selected before
            if (!await ClubCheck.SetClub(TrackKey))
            {
                NavigationManager.NavigateTo("/");
                return;
            }
            if (!String.IsNullOrEmpty(Scope))
            {
                _filter.Scope = Scope;
            }
            else
            {
                NavigationManager.NavigateTo("/");
                return;
            }
            _routes = await Api.GetRoutes(_filter);
        }
        catch (Exception ex)
        {
            _notificationMessage.ShowError($"Fehler: {ex.Message}");
            return;
        }
    }

    private async Task Reload()
    {
        try
        {
            _routes = await Api.GetRoutes(_filter);
        }
        catch (Exception ex)
        {
            _notificationMessage.ShowError($"Fehler: {ex.Message}");
        }
    }

}
