@inherits LayoutComponentBase

<div class="page">
    <div style="background-image: none; background-color: #2fa6f5;" class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AccessControl />
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
